# Emacs artifacts
*~
*#*

# Temporary files that I (ccube) tend to create during development
*.dat
*.out
*.log
*.txt
*.tmp
x_*

# Sandbox directory for tcl/tk experiments; may have its own repository
sandbox/
